#demo,#demo1,#demo2,#demo3,#demo4,#demo5,#demo6,#demo7,#demo8{
color: red;
}


#name,#email,#number,#country,#city,#address,#skill,#date,input{
    color: blue;
   }

   label{
    font-size: 20px;
   }